
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <form class="navbar-form" role="search">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><span class="fa fa-search"></span></button>
                                </span>
                            </div>
                        </div>
                    </form>
                </li>

                @if (User.Identity.IsAuthenticated)
                {
                    <li>
                        <a href="#" class="dropdown-toggle" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Hello <b>@User.Identity.Name</b>
                            <span class="fa fa-arrow-circle-down"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dLabel">
                            <li class="text-primary">@Html.ActionLink("Log Out", "LogOut", "Auth")</li>
                        </ul>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>
